/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
#songs{
	border: 1px solid black;
	width: 600px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 40px;
	
}
ul{
	padding: 9px;
}
li{
	list-style-type: none;
	font-size: 17px;
}
a{
	text-decoration-line: none;
	color: black;
}
.container{
	border: 1px solid black; 
	width: 500px; 
	height: 550px; 
	background-color: white; 
	padding: 20px; 
	border-radius: 10px; 
	margin-left: 60px;
}
.player_one,
.player_two
{
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 10px;
	width: 500px;
	margin-left: 60px;
	margin-top: 20px;
	border: 1px solid black;
}
video{
	width: 500px;
	background-color: rgb(255, 255, 255);
	padding: 0px;
	border-radius: 0px;
}
audio{
	width: 500px;
	background-color: rgb(255, 255, 255);
	padding: 0px;
	border-radius: 0px;
}
.container, p{
	font-weight: bold
}